/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0015FF;
  --foreground: #0015FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0015FF;
    --foreground: #0015FF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
