/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FF0004;
  --foreground: #FF0004;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FF0004;
    --foreground: #FF0004;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
